[Unit]
Description=Sample API Service
After=google-fluentd.service syslog.target      # What is this line doing?

[Service]
Type=simple
EnvironmentFile=/etc/systemd/system/env.txt
ExecStart=/usr/bin/python3 /opt/api_src/api.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=api
Restart=always